/*GENERAL*/

body {
        padding-top: 54px;
     }

a {
	color:  #343a40;
}
a:hover {
	color: #FFFFFF;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
}

/*LOGO*/

#logo {
	width: 6rem;
	max-width: 15%;
	margin-right: 15px;
}
/**/

.main-container {
    zoom:0.5;
}

li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

#lives {
    margin-left: -35px;
}

#lives li {
    color: red;
}


.emptyLife {
    color: #f9a1a1 !important;
}

/*
 * Styles for the Score Panel
 */

.score h3 {
    padding-top: 50px;
}

#loadGame {
    margin-top: -40px;
}

/*MODAL*/
/* The Modal (background) */

.winning-modal-bg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.winning-content {
    background-color: #fefefe;
    width: 400px;
    height: 470px;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #888;
    background: white;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.8);
}

.stats-container {
    padding-top: 40px;
}

.stats-container h4 {
    padding-top: 10px;
}

.score-info {
    padding-bottom: 30px;
}

.end-stars .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}
.end-stars .stars li {
    list-style: none;
    display: inline-block;
}


/* The Close Button */
.close {
    padding-bottom: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.play-again {
    margin-top: 40px;
    padding: 15px;
}

.button-div {
    margin-bottom: 25px;
}

.final-score {
    padding-top: 10px;
}

/*FOOTER*/
.footer ul {
	padding:15px;
}

.bg-light {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
        body {
          padding-top: 56px;
        }
      }